/* UTILITY CLASSES */
/* .m-1 {
  margin: 2rem 2rem;
} */
.mlr {
  margin: 0 0.5rem;
}
.py-3 {
  padding: 1rem 0;
}

#we-are {
  background-color: #e2c3a6;
}
#we-are .last-link a {
  display: none;
}
#we-are .container .text h2 {
  font-size: 1.1rem;
}
#we-are .container .text p {
  font-size: 0.8rem;
}

#we-are .second-half .container1 .container2 .item h2 {
  font-size: 12px;
}
#we-are .second-half .container1 {
  margin-bottom: 3rem;
}

#we-are .second-half .container1 .container2 .item p {
  font-size: 12px;
}
/* #customer {
  width: 100%;
} */

@media (min-width: 1000px, max-width:1099px) {
  #founder .container3 h2 {
    margin-top: 15rem;
  }
}
