@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  line-height: 1.4;
}

/* FONTS */
.fw {
  font-weight: bold;
}
.sf {
  font-size: 20px;
}
.fsm {
  font-size: smaller;
}

/* UTILITY CLASSES */

/* LINKS */
a {
  /* color: #333; */
  text-decoration: none;
}

/* .td {
  text-decoration: none;
  list-style: none;
} */
/* .no li {
  text-decoration: none;
} */
.no {
  list-style: none;
}

/* DISPLAY */
.none {
  display: none;
}
/* BUTTON */
.btn {
  /* border: 1px solid #fff;
  text-decoration: none;
  padding: 7px;
  color: black; */
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background: #bb7b3d;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background: #764604;
}

/* Justify-content */
.center {
  text-align: center;
}

/* padding all round */
.p {
  padding: 3rem;
}
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 0 1rem;
}

/* padding up and down */
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 2.5rem 0;
}

/* padding of footer items  */
.no li,
.no h4 {
  padding: 0.15rem 0;
}

/* margin all round */
.m-1 {
  margin: 3rem 18rem;
}
.m-2 {
  margin: 2rem 1rem;
}
/* margin top and bottom */
.my-1 {
  margin: 0.5rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 2.5rem 0;
}

/* margin-top */
.mt-1 {
  margin-top: 6rem;
}

/* margin-left */
.ml {
  margin-left: 2rem;
}

.ml-1 {
  margin-left: 3rem;
}

/* margin left and right  */
.mlr {
  margin: 0 2rem;
}
.mlr-1 {
  margin: 0 0.5rem;
}
.mlr-2 {
  margin: 0 3rem;
}

/* margin bottom */
.mb {
  margin-bottom: 1.7rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
/* margin top */
.mt {
  margin-top: 2rem;
}

#showcase {
  background: url("../img/back1.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;

  /* OVERLAY */
}
.showcase-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.3); */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 10%,
    rgba(225, 225, 225, 0) 50%
  );
}

#showcase ul {
  display: flex;
  color: #fff;
  justify-content: center;
  list-style: none;
}

#showcase ul li {
  margin: 2rem 2rem;
}

#showcase ul li a {
  text-decoration: none;
  color: #fff;
  /* padding: 3rem; */
}

#showcase .text {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  /* height: 70%; */
  /* font-size: 2rem; */
  color: #fff;
}

#showcase .text h2 {
  font-size: 3rem;
}
#showcase .text a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background: #bb7b3d;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  width: 160px;
  /* width: 35%; */
}
#showcase .text a:hover {
  background: #764604;
}

/* #showcase .icons {
  width: 100%;
  height: 100%;
} */

#showcase .showcase-content .information{
  width: 100%;
  height: 100%;
  display: flex;
}
#showcase .showcase-content .information .text {
  /* margin-top: 13rem; */
  width: 50%;
  /* margin-right: 25rem; */
  /* align-items: center; */
  justify-content: center;

}
#showcase .showcase-content .information .text a {
width: 12rem;
}

#showcase .showcase-content .information .icons{
  width: 50%;
  height: 100%;
  
}
#showcase .showcase-content .information .icons ul {
  justify-content: flex-end;
  /* align-items: center; */
}
#showcase .showcase-content .information .icons ul li{
  margin-top: 15rem;
  display: none;
  display: flex;
  flex-direction: column;
  
  
}

/* #showcase .icons ul li {
  display: flex;
  flex-direction: column;
  margin-top: -350px;
  /* margin-left: 1250px; */
} */

/* WE ARE */


#we-are {
  
  padding: 2rem;
  height: 100vh;
  /* width: 100%; */
  background-color: #764604;

  /* width: 100vmax; */
  /* background: red; */
  /* background: brown; */
}

/*#we-are .contaner {
  background-color: red;
} */


#we-are .container .image {
  background: url("../img/Discussion.jpg") no-repeat center;
  height: 500px;
  width: 50%;
}

#we-are .second-half{
  display: flex;
  justify-content: center;
}

#we-are .container {
  display: flex;
}
#we-are .container .img {
  flex: 1;
}
#we-are .container .text {
  /* width: 50%; */
  flex: 1;
}
#we-are .icons {
  position: sticky;
}
#we-are .container1 {
  display: flex;
  width: 80%;
  justify-items: center;
}
#we-are .container2 {
  background: #fff;
  display: flex;
  flex: 1;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
}
.item h2 {
  /* display: inline-block; */
  align-items: center;
}

/* CUSTOMER COMMENT */
#customer{
  height: 100%;
  /* background: green; */
}

#customer .container .item .symbol {
  color: #bb7b3d;
}
.customer-info {
  display: flex;
  justify-content: center;
}

.img {
  background: url("../img/customer.jpg") no-repeat center center/cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* FOUNDER */
#founder {
  height: 100%;
  display: flex;
  height: 100vh;
  background: #e2c3a6;
}

#founder .container3 {
  width: 50%;
}

#founder .founder-img {
  background: url("../img/customer.jpg") no-repeat center center/cover;
  width: 50%;
  height: 70%;
  margin-top: 4rem;
}

#founder .container3 .container {
  /* background: #bb7b3d; */
  font-size: smaller;
  /* color: #fff; */
}
#founder .container3{
  margin-top: 6rem;
}


/* FOOTER */
#footer {
  padding: 3rem;
  display: flex;
  /* background: black; */
}
#footer a {
  color: black;
}
#footer a:hover {
  color: rgba(255, 81, 0, 0.5);
}
#footer .column {
  flex: 1;
}

#footer .icon .no {
  display: flex;
  font-size: small;
}
#footer .icon .no .logo {
  margin-left: 2rem;
  justify-content: center;
}

/* The navbar icons and positioning */
.symbol {
  display: flex;
  font-size: 10px;
  flex-direction: column;
}
.symbol .logo {
  margin-left: 1.5rem;
}

/* links to navbar */

#showcase .showcase-content .showcase-nav li a:hover {
  color: rgb(255, 208, 0);
}

/* icons on the first page */
#showcase .showcase-content .icons ul li a:hover {
  color: rgb(255, 208, 0);
}
